In [2]:
my_string = 'hello'

my_list = []

for letter in my_string:
    my_list.append(letter)

In [3]:
my_list

['h', 'e', 'l', 'l', 'o']

In [8]:
my_string2 = 'Zaryab'

#List comprehension
my_list2 = [letter for letter in my_string2]

In [9]:
my_list2

['Z', 'a', 'r', 'y', 'a', 'b']

In [10]:
my_list = [element for element in 'words' ]

In [11]:
my_list

['w', 'o', 'r', 'd', 's']

In [12]:
my_list = [num for num in range(0, 13, 3)]

In [13]:
my_list

[0, 3, 6, 9, 12]

In [14]:
my_list = [num**2 for num in range(0, 13, 3)]

In [15]:
my_list

[0, 9, 36, 81, 144]

we can also add if statements

In [17]:
my_list = [num**2 for num in range(0, 13, 3) if num%2 == 0]

In [18]:
my_list

[0, 36, 144]

In [19]:
celcius = [10,30,40,55.5]

farenhiet = [((9/5)*temp + 32) for temp in celcius]

In [20]:
farenhiet

[50.0, 86.0, 104.0, 131.9]

In [21]:
my_list = []

for x in [2,4,5]:
    for y in [1, 30, 1000]:
        my_list.append(x*y)
print(my_list)

[2, 60, 2000, 4, 120, 4000, 5, 150, 5000]

The above nested for loop can be done by list comprehension

In [22]:
my_list = [x*y for x in [2,4,6] for y in [1, 10, 100]]

In [24]:
my_list

[2, 60, 2000, 4, 120, 4000, 5, 150, 5000]