In [1]:
my_list = [1,2,3,4,5,6]

Range generator: range(starting, upto, jump)

In [2]:
for num in range(10): #will print upto 10, not including 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(0,11,2): #will print upto 10, not including 10
    print(num)

0
2
4
6
8
10

enumerate operator

In [6]:
index_count = 0
word = 'abcde'
for letter in word:
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count = index_count+1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [7]:
word = 'abcde'
for letter in enumerate(word): #returns a tupple with the index of the element
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
word = 'abcde'
for index,letter in enumerate(word): #returns a tupple with the index of the element
    print(f'index: {index}, letter: {letter}')

index: 0, letter: a
index: 1, letter: b
index: 2, letter: c
index: 3, letter: d
index: 4, letter: e

In [10]:
my_word_list = ['a','b','c','d','e','f']

for index,letter in enumerate(my_word_list): #returns a tupple with the index of the element, can also work with lists
    print(f'index: {index}, letter: {letter}')

index: 0, letter: a
index: 1, letter: b
index: 2, letter: c
index: 3, letter: d
index: 4, letter: e
index: 5, letter: f

Zip function: Opposite of inumerate

In [11]:
my_list1 = [1,2,3,4,5]
my_list2 = ['a', 'b', 'c', 'd', 'e']
my_list3 = ['apple', 'mango', 'orange', 'banana', 'pineapple']

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 'apple')
(2, 'b', 'mango')
(3, 'c', 'orange')
(4, 'd', 'banana')
(5, 'e', 'pineapple')

In [12]:
my_list1 = [1,2,3,4,5,6,7,8] #if lists are unequal 
my_list2 = ['a', 'b', 'c', 'd', 'e']
my_list3 = ['apple', 'mango', 'orange', 'banana', 'pineapple']

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 'apple')
(2, 'b', 'mango')
(3, 'c', 'orange')
(4, 'd', 'banana')
(5, 'e', 'pineapple')

In [14]:
list(zip(my_list1, my_list2, my_list3))

[(1, 'a', 'apple'),
 (2, 'b', 'mango'),
 (3, 'c', 'orange'),
 (4, 'd', 'banana'),
 (5, 'e', 'pineapple')]

in keyword

In [15]:
'x' in ['a', 'b', 'c']

False

In [17]:
'a' in 'sdkasdngasdgasdg'

True

In [19]:
'k1' in {'k1': 1}

True

In [20]:
1 in {'k1': 1}.keys()

False

In [21]:
1 in {'k1': 1}.values()

True

min and max functions: tells the minimum and maximum values in a list

In [24]:
my_list4 = [10, 30, 40, 50]

min(my_list4)

10

In [25]:
max(my_list4)

50

Import function

from random import any_function

In [27]:
from random import shuffle

In [29]:
shuffle(my_list4) #doesn't return anything

In [30]:
my_list4

[30, 50, 40, 10]

In [31]:
from random import randint

In [32]:
randint(0, 100) #first argument is the lower range and second is the upper range

5

In [33]:
my_random_num = randint(0,45)

In [36]:
my_random_num

7

input function

In [37]:
name = input('What is your name: ') #returns a value

What is your name: Zaryab

In [38]:
name

'Zaryab'