In [1]:
def say_hello():
    print('hello')
    print('are')

In [2]:
say_hello()

hello
are

If we call functio nwith the (), it will only tell that the following name is a function

In [5]:
def say_hello(name):
    print(f'Hello {name}')

In [6]:
say_hello('Zaryab')

Hello Zaryab

In [7]:
#we can also pass default parameters
def say_hello(name='Ahmed'):
    print(f'Hello {name}')

In [8]:
def add_num(num1, num2):
    return num1+num2

In [9]:
add_num(10, 20)

30

In [11]:
result = add_num(40,8)

In [12]:
result

48

With print statement in the function rather than a return, it's not actually giving back an outpu that can be stored

In [14]:
#We can also use print and return together >> mostyl useful for debugging
def my_func(a, b):
    print(a+b)
    return(a+b)

In [15]:
my_func(3,4)

7

7

Python is dynamically typed

> Make sure to check the type of data before returning the result

# Function With Logic

In [16]:
def even_check(num):
    return num%2 == 0

In [17]:
even_check(20)

True

In [19]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE THE LIST
def check_even_list(num_list):
    for num in num_list:
        if num%2 == 0:
            return True #the function is over once it sees the return keyword
        else: pass #retutn False >> Wrong!!!

In [21]:
check_even_list([12,34,5,67,57,5,6,8,56,87,56])

True

In [22]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE THE LIST
def check_even_list(num_list):
    for num in num_list:
        if num%2 == 0:
            return True #the function is over once it sees the return keyword
        else: pass 
    return False

In [23]:
# RETURN ALL THE EVEN NUMBERS IN A LIST 
def check_even_list(num_list):
    
    #Placeholder variable
    even_numbers = []
    
    for num in num_list:
        if num%2 == 0:
            even_numbers.append(num)
        else: pass 
    return even_numbers

In [24]:
check_even_list([12,34,5,67,57,5,6,8,56,87,56])

[12, 34, 6, 8, 56, 56]

# Tupple Unpacking

In [25]:
stock_prices = [('apple', 400), ('google', 300), ('ZAKware', 500)]

In [26]:
for ticker, price in stock_prices:
    print(f'stock: {ticker}, price: {price}')

stock: apple, price: 400
stock: google, price: 300
stock: ZAKware, price: 500

In [30]:
work_hours = [('Abby', 100), ('Zaryab', 120), ('Zabi', 130)]

In [32]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee, hrs in work_hours:
        if hrs > current_max:
            employee_of_month = employee
            current_max = hrs
        else: 
            #employee_of_month = employee_of_month
            #current_max  = current_max
            pass #do nothing
    
    #return
    return(employee_of_month, current_max)

In [33]:
employee_check(work_hours)

('Zabi', 130)

# ** args and ** kwargs

In [36]:
def myfunc(a,b):
    #Return 5% of sum of a and b
    return sum((a,b)) * 0.05

In [37]:
myfunc(40,60)

5.0

Problem, we want to make a function that can take more than one arguments <br>
- Python will give an error if we call a function with more than 2 arguments

In [39]:
#usin*args to take as many argumetns as we want
def myfunc(*args): #args can be anyother name with *, but the convention is to use *args
    #Return 5% of sum of a and b
    return sum(args) * 0.05

In [41]:
#calling function with multiple number of arguments
myfunc(5,6,7,8)

myfunc(5,9,8)

myfunc(7,8)

myfunc(5,60,70,80,90)

15.25

In [45]:
def myfunc(*args):
    for item in args:
        print(item)

In [46]:
myfunc(70,68,90,34)

70
68
90
34

NOTE:
> *args return back  a tupple

If we want to pass in arguments as key value pairs, we will use **kwargs
> **kwargs return a dictionary

In [47]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}',format(kwargs['fruit']))
    else: 
        print('I did not find any fruit here')

In [48]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is {} apple

We can use * args and ** kwargs in combinaion

In [59]:
def myfucn(*args,**kwargs):
    print('I would like to have {} {}'.format(args[0], kwargs['fruit']))

In [61]:
myfucn(10,30,40, fruit = 'apples', food='steaks')

I would like to have 10 apples

NOTE:
> Order of arguments should be (all args, all key value pairs)